* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem .5rem;
}

header nav ul a {
  text-decoration: none;
  color: #29292a;
}

header nav ul input {
  background-color: #f6f7fb;
  font-family: inherit;
  font-size: 1rem;
  width: 600px;
  height: 2rem;
  padding: 0;
  padding-inline-start: 10px;
  border: 1px solid #edeff4;
  border-radius: 10px;
}

header nav ul button {
  font-size: .9rem;
  border: 0 solid transparent;
}

header nav ul li:nth-child(7) button {
  background-color: transparent;
  padding: .5rem;
}

header nav ul li:last-child button {
  background-color: #ffcd1f;
  font-weight: bolder;
  padding: .9rem;
  border-radius: 8px;
}

footer {
  background-color: #f6f7fb;
  padding-block: 1rem;
}

footer section:first-child {
  padding: 1rem;
  font-size: 14px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
}

footer section:first-child h3 {
  text-transform: uppercase;
  margin-block-end: 1rem;
}

footer section:first-child p {
  margin-block: 0.6rem;
}

footer section:first-child p a {
  color: #29292a;
}

footer section:last-child {
  color: #898d9a;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* mobile design */
@media only screen and (max-width: 632px) {
  header nav ul input {
    width: 300px;
    height: 2rem;
  }

  footer section:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 1rem;
  }

  footer section:first-child div:nth-child(3) {
    margin-inline-start: 3rem;
  }
}
